# LaTeX intermediate and output files
*.aux
*.bbl
*.blg
*.brf
*.fls
*.fdb_latexmk
*.log
*.out
*.toc
*.lof
*.lot
*.lol
*.nav
*.snm
*.synctex.gz
*.synctex
*.xdv
# *.pdf
*.dvi
*.ps
*.run.xml
*.bcf
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.xdy

# Mac system files
.DS_Store
.AppleDouble
.LSOverride

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini

# Backup files
*~
*.bak
*.sav
*.swp
*.swo
*.tmp

# VS Code settings
# .vscode/